*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
width: 1440px;
min-height: 100vh;
  background: #F3F5FC;
}



.criptografar{
position: absolute;
left: 240px;
top: 168px;
overflow: hidden;
border: 0;
font-family: 'Inter';
font-size: 32px;
line-height: 150%;
text-align: center;
background-color: #0a387100;
}

.descriptografar{
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  border: 0;
  background-image: url(/assets/imgs/High\ quality\ products\ 1\ 1.png);
  background-repeat: no-repeat;
  background-position: 12% 17%;
font-size: 1.3rem;
  text-align: center;
  padding: 0438px 5px 1px;
}

.alerta{
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin: 54rem 11rem ;
}

.botoes{
display: flex;
flex-direction: row;
padding: 24px;
gap: 10px;

}
.encriptar{
  border: 0;
  cursor: pointer;
  width: 328px;
  height: 67px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 24px;
  color: white;
  background: #0A3871;
  margin-top: 55rem;
  margin-left: auto;
  font-size: 18px;
}
.descriptar{
    cursor: pointer;
    width: 328px;
    height: 67px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 24px;
    color: white;
    background: #6f829a;
    border: 0;
    margin-top: 55rem;
    margin-right: 36rem;
    font-size: 18px;
}

.copiar{
  position: absolute;
    display: block;
    width: 140px;
    height: 67px;
    flex-direction: row;
    padding: 25px;
    margin-top: 900px;
    margin-left: 1038px;
    background: #0A3871;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 24px;
}
.limpar{
    position: absolute;
    display: block;
    width: 140px;
    height: 67px;
    flex-direction: row;
    padding: 25px;
    margin-top: 898px;
    margin-left: 1204px;
    background: #d8dfe8;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 24px;
}

